{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<h1>Django Python Backend Web Development Course</h1>

<h2>Word Counter App</h2>

<h3>Input your text below:</h3>

<form method="POST" action="counter/">
    {% csrf_token %}
    <textarea name="text" rows="25" cols="100"></textarea>
    <br>
    <input type="submit">
</form>

<h2>Introduction to Django Models</h2>
{% for feature in features %}
<div class="feature">
    <p>Name: {{feature.name}}</p>
    <p>ID: {{feature.id}}</p>
    <p>Details: {{feature.details}}</p>
    {% if feature.is_true %}
    <p>Feature is TRUE</p>
    {% else %}
    <p>Feature is FALSE</p>
    {% endif %}
</div>
<hr>
{% endfor %}